:root {
    --white: #FFFFFF;
    --light-blue: #D5E1EF; /* Define the color variable */
    --medium-blue: #68778D;
    --dark-blue: #1F314F;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--light-blue);
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    height: 100vh;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
}

.content-wrapper {
    background-color: var(--white);
    border-radius: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 2rem 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.qr-code-img {
    height: 18rem;
    width: 18rem;
    border-radius: 1rem;
}

.qr-code-wrapper {
    padding: 3.5rem;
    border-radius: 0.75rem;
    display: flex;
    width: 10rem;
}

.text-wrapper {
    width: 17rem;
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--dark-blue);
    font-weight: bold;
    line-height: 120%;
    font-size: 1.4rem;
    letter-spacing: 0;
    text-align: center;
}

.text-content {
    line-height: 140%;
    font-size: 0.95rem;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--medium-blue);
}